@mixin skin($skinColor) {
	.skinbg {
		background-color: $skinColor;
	}
	.skinbg-fake {
		&:before,
		&:after {
			background-color: $skinColor;
		}
	}
	.skinbg-hover {
		&:hover {
			background-color: $skinColor;
		}
	}
	.skinbg-active {
		background-color: $skinColor;
	}

	.skincolor {
		color: $skinColor;
	}

	.skinborder {
		border-color: $skinColor !important;
	}
	.skinborder-hover:hover {
		border-color: $skinColor !important;
	}

	.skinShadow-hover:hover {
		box-shadow: 0 0 6px $skinColor;
	}

	.sortable-placeholder {
		border: 1px dashed $skinColor;
	}
}